name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repo
        uses: actions/checkout@v2

      - name: Generate Snake
        uses: Platane/snk@master
        with:
          github_user_name: omryakawar03
          outputs: dist/github-contribution-grid-snake-dark.svg

      - name: Push Snake
        uses: EndBug/add-and-commit@v7
        with:
          message: "Generated snake animation"
